{%- for v in config.vlans %}
vlan {{ v }}
 {%- if config.vlans[v].name %}
 name {{ config.vlans[v].name }}
 {%- endif %}
!
{%- endfor %}

{%- for v in config.remove_vlans %}
no vlan {{ v }}
{%- endfor %}

{%- for u in config.users %}
{%- for uc in config.users[u] %}
username {{ u }} {{ uc }}
{%- endfor %}
{%- endfor %}

{%- for u in config.clean_users %}
no username {{ u }}
{%- endfor %}

{%- for p in config.ports %}
interface {{ p }}
{%- if config.ports[p].descr %}
 description {{ config.ports[p].descr }}
{%- endif %}
{%- if config.ports[p].shutdown %}
 shutdown
{%- else %}
 no shutdown
{%- if config.ports[p].type == 'access' %}
 switchport mode access
 switchport access vlan {{ config.ports[p].untagged }}
{%- endif %}
{%- if config.ports[p].type == 'trunk' %}
 switchport mode trunk
{%- if config.ports[p].untagged %}
 switchport trunk native vlan {{ config.ports[p].untagged }}
{%- endif %}
{%- if config.ports[p].tagged %}
 switchport trunk allowed vlan {% for v in merge_vlans(config.ports[p].tagged, config.ports[p].untagged) %}{{ v }}{% if not loop.last %},{% endif %}{% endfor %}
{%- endif %}
{%- endif %}
{%- if config.ports[p].mtu %}
 mtu {{ config.ports[p].mtu }}
{%- endif %}
{%- if config.ports[p].mlag %}
 vpc {{ config.ports[p].mlag }}
{%- endif %}
{%- if config.ports[p].lag %}
 channel-group {{ config.ports[p].lag }} mode {% if config.ports[p].lagmode %}{{ config.ports[p].lagmode }}{% else %}on{% endif %}
{%- endif %}
{%- endif %}
!
{%- endfor %}

{%- for p in config.clean_ports %}
default interface {{ p }}
interface {{ p }}
 shutdown
!
{%- endfor %}

