{%- for v in config.vlans %}
interface vlan{{ v }}
{%- if config.vlans[v].name %}
 description {{ config.vlans[v].name }}
{%- endif %}
!
{%- endfor %}

{%- for v in config.remove_vlans %}
{%- if '-' in v|string %}
no interface range vlan {{ v }}
{%- else %}
no interface vlan{{ v }}
{%- endif %}
{%- endfor %}

{%- for p in config.remove_ports %}
no interface {{ p }}
{%- endfor %}

{%- for p in config.ports %}
{%- if config.ports[p].clean %}
default interface {{ p }}
interface {{ p }}
 shutdown
{%- else %}
interface {{ p }}
{%- if 'descr' in config.ports[p] %}
 description {{ config.ports[p].descr }}
{%- endif %}
{%- if config.ports[p].shutdown %}
 shutdown
{%- else %}
 no shutdown
{%- if config.ports[p].type == 'access' %}
 switchport mode access
{%- if config.ports[p].untagged %}
 switchport access vlan {{ config.ports[p].untagged }}
{%- endif %}
{%- endif %}
{%- if config.ports[p].type == 'trunk' %}
 switchport mode trunk
{%- if config.ports[p].untagged %}
 switchport access vlan {{ config.ports[p].untagged }}
{%- endif %}
{%- if config.ports[p].tagged %}
 switchport trunk allowed vlan {% for v in config.ports[p].tagged %}{{ v }}{{ "," if not loop.last }}{% endfor %}
{%- endif %}
{%- endif %}
{%- if config.ports[p].mtu %}
 mtu {{ (config.ports[p].mtu + 22) }}
{%- endif %}
{%- if config.ports[p].mlag %}
 vlt-port-channel {{ config.ports[p].mlag }}
{%- endif %}
{%- if config.ports[p].lag %}
 channel-group {{ config.ports[p].lag }} mode {% if config.ports[p].lagmode %}{{ config.ports[p].lagmode }}{% else %}on{% endif %}
{%- endif %}
{%- endif %}
{%- endif %}
!
{%- endfor %}

