{%- for v in config.vlans %}
vlan {{ v }}
 {%- if config.vlans[v].name %}
 name {{ config.vlans[v].name }}
 {%- endif %}
!
{%- endfor %}

{%- for v in config.remove_vlans %}
no vlan {{ v }}
{%- endfor %}

{%- for p in config.remove_ports %}
no interface {{ p }}
{%- endfor %}

{%- for p in config.ports %}
{%- if config.ports[p]['clean'] %}
default interface {{ p }}
interface {{ p }}
 shutdown
{%- else %}
interface {{ p }}
{%- if config.ports[p].descr %}
 description {{ config.ports[p].descr }}
{%- endif %}
{%- if config.ports[p].shutdown %}
 shutdown
{%- else %}
 no shutdown
{%- if config.ports[p].type == 'access' %}
 switchport mode access
 switchport access vlan {{ config.ports[p].untagged }}
{%- endif %}
{%- if config.ports[p].type == 'trunk' %}
{%- if config.ports[p].encap %}
 switchport trunk encapsulation {{ config.ports[p].encap }}
{%- endif %}
 switchport mode trunk
{%- if config.ports[p].untagged %}
 switchport trunk native vlan {{ config.ports[p].untagged }}
{%- endif %}
{%- if config.ports[p].tagged %}
 switchport trunk allowed vlan {% for v in config.ports[p].tagged %}{{ v }}{% if not loop.last %},{% endif %}{% endfor %}
{%- endif %}
{%- endif %}
{%- if config.ports[p].mtu %}
 mtu {{ config.ports[p].mtu }}
{%- endif %}
{%- if config.ports[p].mlag %}
 vpc {{ config.ports[p].mlag }}
{%- endif %}
{%- if config.ports[p].lag %}
 channel-group {{ config.ports[p].lag }} mode {% if config.ports[p].lagmode %}{{ config.ports[p].lagmode }}{% else %}on{% endif %}
{%- endif %}
{%- endif %}
{%- if config.ports[p].extra %}
{%- for e in config.ports[p].extra %}
 {{e}}
{%- endfor %}
{%- endif %}
{%- endif %}
!
{%- endfor %}

